@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,600');
body {
	margin: 0;
	background: #fff    ;
	font-family: 'Work Sans', sans-serif;
	font-weight: 800;
}

.container {
	width: 99%;
	margin: 0 auto;
}

header {
  background: #fff;
}

header::after {
  content: '';
  display: table;
  clear: both;
}

.logo {
  float: left;
  padding: 10px 0;
}

.youtube {
    float:right;
    padding: 18px 0;
    height:25px;
    width:25px;
}

.twitter {
    float:right;
    padding: 18px 0;
    height:25px;
    width:25px;
}

.discord {
    float:right;
    padding: 18px 0;
    height:25px;
    width:25px;
}

.instagram {
    float:right;
    padding: 18px 0;
    height:25px;
    width:25px;
}

nav {
  float: left;
}

nav ul {
  margin: 0;
  padding: 99;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 70px;
  padding-top: 23px;

  position: relative;
}

nav a {
  color: #444;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
}

nav a:hover {
  color: #fac552;
}

nav a::before {
  content: '';
  display: block;
  height: 5px;
  background-color: #444;

  position: absolute;
  top: 0;
  width: 0%;

  transition: all ease-in-out 250ms;
}

nav a:hover::before {
  width: 100%;
}

slider {
    display: block;
    width: 100%;
    height: 100%;
    background-color: #1f1f1f;
    overflow: hidden;
    position: absolute;
   }
   
slider > * {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    background: #1f1f1f;
    animation: slide 12s infinite;
    overflow: hidden;
   }
   
slide:nth-child(1){
    left: 0%;
    animation-delay: -1s;
    background-image: url(https://i.ytimg.com/vi/q4q5wy21KEs/maxresdefault.jpg);
    background-size: 100%;
    background-position: center;
   }
   
slide:nth-child(2){
    left: 100%;
    animation-delay: 2s;
    background-image: url(https://github.com/Neztle/neztle.github.io/blob/master/slide3.jpg);
    background-size: 100%;
    background-position: center;
   }
   
slide:nth-child(3){
    left: 100%;
    animation-delay: 5s;
    background-image: url(https://github.com/Neztle/neztle.github.io/blob/master/slide2.jpg);
    background-size: 100%;
    background-position: center;
   }
   
slide:nth-child(4){
    left: 100%;
    animation-delay: 8s;
    background-image: url(https://github.com/Neztle/neztle.github.io/blob/master/slide1.png);
    background-size: 100%;
    background-position: center;
   }
   
slide p {
    font-family: Comfortaa;
    font-size: 70px;
    text-align: center;
    display: inline-block;
    width: 100%;
    margin-top: 340px;
    color: #fff;
   }
   
@keyframes slide {
    0% { left: 100%; width: 100%; }
    5% { left: 0%; }
    25% { left: 0%; }
    30% { left: -100%; width: 100%; }
    30.0001% { left: -100%; width: 0%; }
    100% { left: 100%; width: 0%; }
   }
